# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/vite.svg
src/components/HelloWorld.vue
package-lock.json
package.json
src/assets/catalog/Cream Kelly Twins Bag.jfif
src/assets/catalog/fcda6176-20d1-4db1-a7ee-810ca6293ade.jfif
src/assets/catalog/Harlee Embroidered Shoulder Bag - Pink.jfif
src/assets/catalog/Harlee Sequin Shoulder Bag - Pink.jfif
src/assets/catalog/Personalized Denim Bow Tote Bag.jfif
src/assets/mainpage/20250731_133734.mp4
src/assets/mainpage/20250731_154405.mp4
src/assets/mainpage/20250802_083046.mp4
src/assets/mainpage/20250811_172459.mp4
src/assets/mainpage/20250811_180527.mp4
src/assets/mainpage/happy.mp4
src/assets/mainpage/icons8-pixel-24.png
src/assets/mainpage/icons8-pixel-32.png
src/assets/mainpage/icons8-pixel-50 (1).png
src/assets/mainpage/icons8-pixel-50.png
src/assets/mainpage/me.jpg
src/assets/mainpage/n.mp4
src/assets/mainpage/real_sea.mp4
src/assets/mainpage/swpool (1).jpg
src/assets/mainpage/swpool.mp4
src/assets/mainpage/turtle.mp4
src/assets/svg/N2.svg
src/assets/svg/totheleft.svg
src/assets/svg/totheright.svg
public/catalog/Cream Kelly Twins Bag.jfif
public/catalog/fcda6176-20d1-4db1-a7ee-810ca6293ade.jfif
public/catalog/Harlee Embroidered Shoulder Bag - Pink.jfif
public/catalog/Harlee Sequin Shoulder Bag - Pink.jfif
public/catalog/Personalized Denim Bow Tote Bag.jfif
