:root{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;    
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 10vh;
  background-color: #000;
}
.nav-left ul,
.nav-right ul {
  display: flex;
  gap: 15px;
  list-style: none;
  cursor: pointer;
}

.nav-left ul li :hover {
  color:rgb(127, 127, 127);
}
.nav-right ul li :hover {
  color:rgb(127, 127, 127);
}

.nav-left ul li a{
  color: #ffffff;
  text-decoration: none;
}
.logo {
  height: 30px;
}

.banner {
  position: relative;
  display: flex;
}
.banner-video {
  width: 100%;
  height: 87vh;
  display: flex;
  object-fit: cover;
  border-radius: 350px;
  margin: 10px;
}

.promo-video {
  width: 25%; 
  margin: 10px;
  border-radius: 350px;
}

.banner-overlay {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
}

.catalog-section {
  margin: 50px;
}
.in-catalog-section {
  display:flex;
}
.collection-banner img {
  height: 160px;
  margin-top: 20px;
  margin-right: 50px;
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.026);
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  flex-shrink: 0;
}

.product-card:hover{
    background-color: rgba(127, 127, 127, 0.127);
}

p{
    padding-left: 10px;
    padding-right: 10px;
}

.product-image {
  height: 250px;
  width: 100%;
  border-radius: 30px;
}
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.carousel-control.prev {
  left: 0px;
  background-color: #00000000;
  color: #0000005c;
  font-size: 50px;
}
.carousel-control.next {
  right: 0px;
  background-color: #00000000;
  color: #0000005c;
  font-size: 50px;
}
.see-all {
  display: block;
  text-align: right;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
}

footer{
    background-color: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 50px;
    margin: 0;
    margin-top: auto;
    justify-content: space-between;
    color: #ffffff;
}

.socials{
    padding-top: 10px;
    padding-right: 10px;
}

.site-footer {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: 30vh;
}
.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}